<app-header></app-header>
<div class="container">
    <img [src]="food.imageurl" alt="food.name">

<div class="details">
    <div class="header">
        <span class="name">
            {{food.name}}
        </span>
        
            <span class="favourite {{food.favourite?'':'not'}}">
                ❤
            </span>
        
    </div>
    <star-rating 
            [value]="food.stars"  
            [totalstars]="5" 
            checkedcolor="red" 
            uncheckedcolor="black" 
            size="24px" 
            [readonly]="false"></star-rating>
    <div class="origin">
        <span *ngFor="let origin of food.origins">{{origin}}</span>
        
    </div>
    <div class="tag">
        <app-tags [foodPagetags]="food.tags" justifyContent="start"></app-tags>
    </div>
    <div class="cook-time">
        <span>Time to cook about <strong>{{food.cookTime}}</strong></span>
    </div>
    <div class="price">
        <span>{{food.price | currency}}</span>
    </div>
    <button  (click)="addToCart()" class="button">Add to Cart </button>
</div>
</div>